.checkout {
  display: flex;
  
  
  justify-content: center;
  max-width: 1500px;
  min-width: 400px;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
}
.checkout_left{
    width: 70%;
}
.checkout_itmes{
  display: flex;
  height: 100vh;
  overflow-y: auto;
  
  flex-direction: column;
  
}
.checkoutAd{
    align-items: center;
    object-fit: contain;
    width: 100%;
    margin-bottom: 10px;
}
.checkout_right{
  width: 30%;
  
}

.emptycart{
  background-color: #fff;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptycart h3{
  font-size: 6rem;
  
  color: rgb(69, 69, 235);
}
.emptycart h1{

  font-size: 3rem;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.emptycart h1:hover{
  color: orange;
}