.payment{
    background-color: rgb(237, 236, 236);

}
.payment_container{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.payment_Section{
    display: flex;

    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}
.payment_title{
    width: 20%;
}
.payment_address{
    width: 80%;
}
.payment_item{
    width: 100%;
}
.product_section{
    display: flex;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
    justify-content: space-evenly;
    background-color: rgb(231, 231, 231);
}
